.vscode
*.swp

*.pyc
.snakemake/
.python-version

annotation/
/data/
/sample_files
cli_*_results/
decompose/
load_config/
merge_trio/
mock_ped/
peddy/
rank_model/
results/
results_no-filtering/
results_trio/
venv/
sample_files/

dist/
