samples: "samples.tsv"
resources: "resources.yaml"

genome_build: "37"
scout_owner: "clingen"
output_directory: results

default_container: docker://snakemake/snakemake:v9.14.0

panel_filtering:
  hard_filter: yes
  panel_directory: ../data/panels

vcf_filter:
  rare_disease: rare_disease_filter.yaml
  somatic: somatic_filter.yaml

reference:
  fasta: /storage/userdata/references/homo_sapiens/hg19/fasta/hg19.fa.gz

vcfanno:
  base_path: "/storage/userdata/references/homo_sapiens/vep/vep_plugin_data/GRCh37"
  # config_uri: "https://raw.githubusercontent.com/gmc-norr/config-files/main/scout-annotation/{track}/vcfanno/grch37_vcfanno_config_{version}.toml"
  config_uri: "https://raw.githubusercontent.com/gmc-norr/config-files/main/scout-annotation/rare_disease/vcfanno/grch37_vcfanno_config_{version}.toml"
  config_version:
    rare_disease: "0.1"
    cancer: "0.1"

vcfanno_config:
  extra: --insecure

vep:
  cache: /storage/userdata/references/homo_sapiens/vep/vep_data_105
  cache_type: merged
  plugin: /storage/userdata/references/homo_sapiens/vep/vep_data_105/plugins
  plugin-data: /storage/userdata/references/homo_sapiens/vep/vep_plugin_data/GRCh37
  swegen: /storage/userdata/references/homo_sapiens/hg19/index/swegen_20180409/anon-SweGen_STR_NSPHS_1000samples_SNV_hg19.vcf.gz
  clinvar: /storage/userdata/references/homo_sapiens/vep/vep_plugin_data/GRCh37/clinvar_20220730/clinvar_20220730.vcf.gz
  mode: --offline --cache

genmod:
  # rank_model_uri: "https://raw.githubusercontent.com/gmc-norr/config-files/main/scout-annotation/{track}/rank_model/{track}_rank_model_{version}.ini"
  rank_model_uri: "https://raw.githubusercontent.com/gmc-norr/config-files/main/scout-annotation/rare_disease/rank_model/rare_disease_rank_model_{version}.ini"
  rank_model_version:
    rare_disease: "0.1"
    cancer: "0.1"

genmod_rank_model:
  extra: --insecure

coverage:
  d4: false
